In [1]:
import pandas as pd

In [2]:
md = pd.read_csv("/Users/xavier/Desktop/DSPP/DS/Data-Science-1-Final-Project/FDIC_Pull/metadata.csv")

In [3]:
md.head()

,VariableName,VarLabel,Notes,Code,Value,in2009,in2011,in2013,in2015,in2017,in2019,StartYear,EndYear
0,gereg,Geographic region,NaN,1.0,Northeast,y,y,y,y,y,y,2009,NaN
1,gereg,Geographic region,NaN,2.0,Midwest,y,y,y,y,y,y,2009,NaN
2,gereg,Geographic region,NaN,3.0,South,y,y,y,y,y,y,2009,NaN
3,gereg,Geographic region,NaN,4.0,West,y,y,y,y,y,y,2009,NaN
4,gestfips,State,NaN,1.0,AL,y,y,y,y,y,y,2009,NaN

In [4]:
md.shape

(2647, 13)

In [5]:
#subset only to variables available in 2019
md = md[md["in2019"] == 'y']
md.shape

(1088, 13)

In [6]:
#eliminate variables with too many options
md = md[md["VariableName"] != "gestfips"]
md = md[md["VariableName"] != "msa13"]
md = md[md["VariableName"] != "msa5yr13"]
md.shape

(433, 13)

Here, we remove geographic data from the metadata simply because it occupies too much space in the document and is preventing us from identifying useful variables. We will instead add back a placeholder

In [7]:
#drop columns
md = md.drop(columns=['in2009','in2011','in2013','in2015','in2017','in2019','StartYear','EndYear'])

In [8]:
md.shape

(433, 5)

In [9]:
#Add in placeholders for data removed
md.loc[len(md.index)] = ["gestfips", 'State', '','','']
md.loc[len(md.index)] = ["msa13", 'MSA', '','','']
md.loc[len(md.index)] = ["msa5yr13", 'MSA 5yr', '','','']

In [10]:
md.head(436)

,VariableName,VarLabel,Notes,Code,Value
0,gereg,Geographic region,NaN,1,Northeast
1,gereg,Geographic region,NaN,2,Midwest
2,gereg,Geographic region,NaN,3,South
3,gereg,Geographic region,NaN,4,West
950,msa13chg,MSA boundary change between 2013 and 2015 surveys,NaN,1,Yes
...,...,...,...,...,...
2642,hbnkfeeunbnkv2,Unbanked households: Clarity of bank communica...,Excludes households with missing information o...,98,Unknown: Do not know
2643,hbnkfeeunbnkv2,Unbanked households: Clarity of bank communica...,Unbanked households,-1,NIU
433,gestfips,State,,,
434,msa13,MSA,,,
435,msa5yr13,MSA 5yr,,,

In [11]:
md_clean = md.reset_index()

In [12]:
md_clean.to_csv("/Users/xavier/Desktop/DSPP/DS/Data-Science-1-Final-Project/Var_Selection/md_clean.csv")

Export the cleaned metadata for manual review to select variables